.custom-shape-divider-top-1656565611 {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   overflow: hidden;
   line-height: 0;
}

.custom-shape-divider-top-1656565611 svg {
   position: relative;
   display: block;
   width: calc(115% + 1.3px);
   height: 90px;
}

.custom-shape-divider-top-1656565611 .shape-fill {
   fill: #71717A;
}


.custom-shape-divider-top-1656566738 {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   overflow: hidden;
   line-height: 0;
}

.custom-shape-divider-top-1656566738 svg {
   position: relative;
   display: block;
   width: calc(121% + 1.3px);
   height: 110px;
}

.custom-shape-divider-top-1656566738 .shape-fill {
   fill: #18181B;
}


.custom-shape-divider-bottom-1657332221 {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   overflow: hidden;
   line-height: 0;
   transform: rotate(180deg);
}

.custom-shape-divider-bottom-1657332221 svg {
   position: relative;
   display: block;
   width: calc(145% + 1.3px);
   height: 167px;
}

.custom-shape-divider-bottom-1657332221 .shape-fill {
   fill: #18181b;
}

/* Below are the BLOG css... So, be ready to remove them. */

.blobBigSection
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.blobSection
{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 1000px;
   background-color: aqua;
   /* background-image: url("lion.jpg"); */
}
.blobDiv 
{
   position: absolute;
   width: 600px;
   height: 600px;
   background-color: blueviolet;
}


/* Above are the BLOB css. */